# General
.DS_Store

#whitelist for /folders
/*/
!/containers
!/examples
!/mysql_volumes
!/src

/global.env
/composer.env
/config.json
/docker-compose.yml

/containers/php/*
!/containers/php/.gitkeep
/mysql_volumes/*
!/mysql_volumes/mariadb10/
/mysql_volumes/mariadb10/*
!/mysql_volumes/mariadb10/.gitkeep
!/mysql_volumes/mariadb11/
/mysql_volumes/mariadb11/*
!/mysql_volumes/mariadb11/.gitkeep
/volumes/elasticsearch/*
!/volumes/elasticsearch/.gitkeep
/volumes/opensearch/*
!/volumes/opensearch/.gitkeep
