# General
.DS_Store

#whitelist for /folders
/*/
!/containers
!/envs
!/mysql_volumes
!/docker-builder

/envs/global.env
/envs/composer.env
/envs/m2_install.env
/config.json
/compose.yaml
/docker-builder/vendor/*

/containers/nginx/etc/multi_vhost/*
!/containers/nginx/etc/multi_vhost/example_vhost.conf
/containers/php/*
!/containers/php/.gitkeep
/containers/search_engine/*
!/containers/search_engine/.gitkeep

/mysql_volumes/*
!/mysql_volumes/mariadb10/
/mysql_volumes/mariadb10/*
!/mysql_volumes/mariadb10/.gitkeep
!/mysql_volumes/mariadb11/
/mysql_volumes/mariadb11/*
!/mysql_volumes/mariadb11/.gitkeep
/volumes/elasticsearch/*
!/volumes/elasticsearch/.gitkeep
/volumes/opensearch/*
!/volumes/opensearch/.gitkeep

#Dry-run
/compose-dry-run.yaml
/containers-dry-run/*
/envs-dry-run/*

#deprecated
!/examples
!/src
/docker-compose.yml
/global.env
/composer.env
