{
    "docker-compose": {
        "M2SETUP_PROJECT": "magento2.docker",
        "M2SETUP_VIRTUAL_HOST": "magento2.docker",
        "M2SETUP_BASE_URL": "http://magento2.docker/",
        "M2SETUP_SECURE_BASE_URL": "https://magento2.docker/",
        "M2SETUP_DB_NAME": "magento2_database",
        "M2SETUP_PHP": "7.2",
        "M2SETUP_VERSION": "2.3.*",
        "M2SETUP_INSTALL_DB": "true",
        "M2SETUP_USE_SAMPLE_DATA": "true",
        "M2SETUP_ADMIN_EMAIL": "dummy@gmail.com",
        "M2SETUP_ADDITIONAL_SERVICES": {
            "varnish": true,
            "cron": true
        }
    },
    "php-containers": {
        "7.0-cli": {
            "version": "7.0",
            "flavour": "cli",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "bin/mageconfigsync": {
                    "executable": true
                },
                "bin/magedbm2": {
                    "executable": true
                },
                "bin/magento-command": {
                    "executable": true
                },
                "bin/magento-extension-installer": {
                    "_disable_variables": true,
                    "executable": true
                },
                "bin/magento-installer": {
                    "executable": true
                },
                "bin/magerun2": {
                    "executable": true
                },
                "bin/run-cron": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-cli.ini": {},
                "etc/php-xdebug.ini": {}
            },
            "flavourPackages": [],
            "phpExtensions": ["mcrypt"],
            "composerVersion": "1.10.17",
            "xdebugVersion": "2.8.1"
        },
        "7.0-fpm": {
            "version": "7.0",
            "flavour": "fpm",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-fpm.ini": {},
                "etc/php-xdebug.ini": {},
                "etc/php-fpm.conf": {}
            },
            "flavourPackages": [],
            "phpExtensions": ["mcrypt"],
            "xdebugVersion": "2.8.1"
        },
        "7.1-cli": {
            "version": "7.1",
            "flavour": "cli",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "bin/mageconfigsync": {
                    "executable": true
                },
                "bin/magedbm2": {
                    "executable": true
                },
                "bin/magento-command": {
                    "executable": true
                },
                "bin/magento-extension-installer": {
                    "_disable_variables": true,
                    "executable": true
                },
                "bin/magento-installer": {
                    "executable": true
                },
                "bin/magerun2": {
                    "executable": true
                },
                "bin/run-cron": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-cli.ini": {},
                "etc/php-xdebug.ini": {}
            },
            "flavourPackages": [],
            "phpExtensions": ["mcrypt"],
            "composerVersion": "1.10.17",
            "xdebugVersion": "latest"
        },
        "7.1-fpm": {
            "version": "7.1",
            "flavour": "fpm",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-fpm.ini": {},
                "etc/php-xdebug.ini": {},
                "etc/php-fpm.conf": {}
            },
            "flavourPackages": [],
            "phpExtensions": ["mcrypt"],
            "xdebugVersion": "latest"
        },
        "7.2-cli": {
            "version": "7.2",
            "flavour": "cli",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "bin/mageconfigsync": {
                    "executable": true
                },
                "bin/magedbm2": {
                    "executable": true
                },
                "bin/magento-command": {
                    "executable": true
                },
                "bin/magento-extension-installer": {
                    "_disable_variables": true,
                    "executable": true
                },
                "bin/magento-installer": {
                    "executable": true
                },
                "bin/magerun2": {
                    "executable": true
                },
                "bin/run-cron": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-cli.ini": {},
                "etc/php-xdebug.ini": {}
            },
            "flavourPackages": [],
            "phpExtensions": [],
            "composerVersion": "1.10.17",
            "xdebugVersion": "latest"
        },
        "7.2-fpm": {
            "version": "7.2",
            "flavour": "fpm",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-fpm.ini": {},
                "etc/php-xdebug.ini": {},
                "etc/php-fpm.conf": {}
            },
            "flavourPackages": [],
            "phpExtensions": [],
            "xdebugVersion": "latest"
        },
        "7.3-cli": {
            "version": "7.3",
            "flavour": "cli",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "bin/mageconfigsync": {
                    "executable": true
                },
                "bin/magedbm2": {
                    "executable": true
                },
                "bin/magento-command": {
                    "executable": true
                },
                "bin/magento-extension-installer": {
                    "_disable_variables": true,
                    "executable": true
                },
                "bin/magento-installer": {
                    "executable": true
                },
                "bin/magerun2": {
                    "executable": true
                },
                "bin/run-cron": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-cli.ini": {},
                "etc/php-xdebug.ini": {}
            },
            "flavourPackages": [],
            "phpExtensions": [],
            "composerVersion": "1.10.17",
            "xdebugVersion": "latest"
        },
        "7.3-fpm": {
            "version": "7.3",
            "flavour": "fpm",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-fpm.ini": {},
                "etc/php-xdebug.ini": {},
                "etc/php-fpm.conf": {}
            },
            "flavourPackages": [],
            "phpExtensions": [],
            "xdebugVersion": "latest"
        },
        "7.4-cli": {
            "version": "7.4",
            "flavour": "cli",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "bin/mageconfigsync": {
                    "executable": true
                },
                "bin/magedbm2": {
                    "executable": true
                },
                "bin/magento-command": {
                    "executable": true
                },
                "bin/magento-extension-installer": {
                    "_disable_variables": true,
                    "executable": true
                },
                "bin/magento-installer": {
                    "executable": true
                },
                "bin/magerun2": {
                    "executable": true
                },
                "bin/run-cron": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-cli.ini": {},
                "etc/php-xdebug.ini": {}
            },
            "flavourPackages": ["libonig-dev"],
            "phpExtensions": [],
            "composerVersion": "1.10.17",
            "xdebugVersion": "latest"
        },
        "7.4-fpm": {
            "version": "7.4",
            "flavour": "fpm",
            "files": {
                "Dockerfile": {},
                "docker-entrypoint.sh": {
                    "executable": true
                },
                "etc/postfix/config.cf": {},
                "etc/mail.ini": {},
                "etc/php-fpm.ini": {},
                "etc/php-xdebug.ini": {},
                "etc/php-fpm.conf": {}
            },
            "flavourPackages": ["libonig-dev"],
            "phpExtensions": [],
            "xdebugVersion": "latest"
        }
    }
}


